#wrapSampleForm {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f8ff;
}

#sampleTable {
    background-color: #ffffcc;
}

#sampleTable th {
    color: #000000 !important;
}

#sampleTable th,
#sampleTable td {
    width: 100px;
    font-size: 15px !important;
    border: 1px solid gray;
    background-color: #ffffcc;
}

#tableName {
    width: 20%;
}

#tablelevel {
    width: 10px;
}

#tableComent {
    width: 50%;
}

#sampleForm * {
    margin: 1px;
    vertical-align: text-top;
}
